body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffccff; /* Rosa claro */
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
}

#introText h1, #introText p, #messageContainer {
    color: white;
    text-shadow: 2px 2px 4px #000;
}

#introText h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

#introText p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#siBtn {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #009705; /* Verde */
    color: white;
    border: 2px solid #FFC0CB; /* Bordes rosa */
    border-radius: 10px; /* Esquinas redondeadas */
}

#noBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #FF5733; /* Rojo */
    color: white;
    border: 2px solid #FFC0CB; /* Bordes rosa */
    border-radius: 10px; /* Esquinas redondeadas */
}

#noBtn:hover {
    background-color: #641e0d; /* Rojo oscuro */
}

#siBtn:hover {
    background-color: #053a03; /* Verde oscuro */
}

#messageContainer {
    font-size: 30px;
    color: white; /* Blanco */
    text-shadow: 2px 2px 4px #000; /* Borde negro simulado */
    font-family: 'Arial', sans-serif;
    animation: pulse 0.5s infinite alternate;
    display: none;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1); /* Zoom más suave */
    }
}

@keyframes floatingHearts {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-200px); opacity: 0; }
}

/* Corazones flotantes */
.heart {
    position: absolute;
    color: #ff0066;
    font-size: 25px;
    animation: floatingHearts 5s infinite ease-in;
    opacity: 0;
}

.heart:nth-child(odd) {
    animation-duration: 6s;
}

.heart:nth-child(even) {
    animation-duration: 4s;
}

/* Animación de los corazones */
@keyframes pulseHeart {
    0% { transform: scale(1); }
    100% { transform: scale(1.3); }
}
